<div class="newsletter" th:fragment="newsletter" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="w3agile_newsletter_left">
            <h3>подпишитесь на нашу рассылку</h3>
        </div>
        <div class="w3agile_newsletter_right">
            <form th:action="@{/guest/mail_sign}" th:method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="подпишись сейчас">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>