<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>магазин БОЯРИНЯ | Доступ запрещен</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- //for-mobile-apps -->
    <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link th:href="@{/css/font-awesome.css}" href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="/static/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link th:href="@{//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic}"
          href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link th:href="@{//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic}"
          href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" th:src="@{/js/move-top.js}" src="/static/js/move-top.js"></script>
    <script type="text/javascript" th:src="@{/js/easing.js}" src="/static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>
<body>

<!-- header -->
<header th:if="${guest}" th:insert="blocks/header :: header"></header>
<header th:if="${user}" th:insert="blocks_user/user_header :: user_header"></header>
<header th:if="${admin}" th:insert="blocks_admin/admin_header :: admin_header"></header>
<!-- script-for sticky-nav -->
<script>
    $(document).ready(function() {
        var navoffeset=$(".agileits_header").offset().top;
        $(window).scroll(function(){
            var scrollpos=$(window).scrollTop();
            if(scrollpos >=navoffeset){
                $(".agileits_header").addClass("fixed");
            }else{
                $(".agileits_header").removeClass("fixed");
            }
        });

    });
</script>
<!-- //script-for sticky-nav -->
<header th:if="${guest}" th:insert="blocks/logo_products :: logo_products"></header>
<header th:if="${user}" th:insert="blocks_user/user_logo_products :: user_logo_products"></header>
<header th:if="${admin}" th:insert="blocks_admin/admin_logo_products :: admin_logo_products"></header>
<!-- //header -->

<!-- message -->
<main th:if="${guest}" class="container " style="display: block; text-align: center;" th:style="'display: block; text-align: center'">
    <h1 th:text="|У вас нет прав доступа к данной странице|"></h1>
</main>
<main th:if="${user}" class="container " style="display: block; text-align: center;" th:style="'display: block; text-align: center'">
    <h1 th:text="${account} + |, вы не имеете прав доступа к данной странице|"></h1>
</main>
<main th:if="${admin}" class="container " style="display: block; text-align: center;" th:style="'display: block; text-align: center'">
    <h1 th:text="${account} + |, вы не имеете прав доступа к данной странице|"></h1>
</main>
<!-- //message -->

<!-- newsletter -->
<div th:if="${guest}" th:insert="blocks/newsletter :: newsletter"></div>
<div th:if="${user}" th:insert="blocks_user/user_newsletter :: user_newsletter"></div>
<div th:if="${admin}" th:insert="blocks_admin/admin_newsletter :: admin_newsletter"></div>
<!-- //newsletter -->
<!-- footer -->
<div th:if="${guest}" th:insert="blocks/footer :: footer"></div>
<div th:if="${user}" th:insert="blocks_user/user_footer :: user_footer"></div>
<div th:if="${admin}" th:insert="blocks_admin/admin_footer :: admin_footer"></div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}" src="/static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<script th:src="@{/js/minicart.js}" src="/static/js/minicart.js"></script>
<script>
    paypal.minicart.render();

    paypal.minicart.cart.on('checkout', function (evt) {
        var items = this.items(),
            len = items.length,
            total = 0,
            i;

        // Count the number of each item in the cart
        for (i = 0; i < len; i++) {
            total += items[i].get('quantity');
        }

        if (total < 3) {
            alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
            evt.preventDefault();
        }
    });

</script>
</body>

